<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EGESupportEntities" connectionString="metadata=res://*/Model.EgeSupport.csdl|res://*/Model.EgeSupport.ssdl|res://*/Model.EgeSupport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EGESupport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="ftp_address" value="localhost" />
    <!--<add key="ftp_external_address" value="localhost" />-->
    <add key="ftp_login" value="ftpman" />
    <add key="ftp_password" value="12345678" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EGESupportBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="27f96a7d6925e134b9fcc820b2ede1a976bc40dd"
              storeLocation="CurrentUser" storeName="Root" x509FindType="FindByThumbprint" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="EGEServiceRun.App_Code.Security.UserAuthentication,EGEServiceRun" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="EGEServiceRun.App_Code.Security.AuthorizationPolicy,EGEServiceRun" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="EGEwsHTTPBinding" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="EGESupportBehaviors" name="EGEServiceRun.EGESupport">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EGEwsHTTPBinding"
          name="wsHTTPEndpoint" contract="EGEServiceRun.IEGESupport" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.165:7777/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>